.container-table {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 50px;
    
}

.container-page-employees {
    width: 100%;
}